server:
  port: 8080
  shutdown: graceful
spring:
  application:
    name: marsweather
  threads:
    virtual:
      enabled: true
  lifecycle:
    timeout-per-shutdown-phase: 30s
nasa:
  base-url: https://mars.nasa.gov/rss/api